[project]
name = "first-from-remote"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.122.0",
]

[dependency-groups]
dev = [
    "pytest>=9.0.1",
]
